{% extends 'base.html.twig' %}

{% block title %}New Simple{% endblock %}

{% block body %}
    <h1>Create new Simple</h1>
    {{ include('simple/_form.html.twig') }}

    {#        <input data-hello-target="name" type="text"> #}
    <div data-controller="autocomplete">
        <button data-action="click->autocomplete#toggle">
            Envoyer
        </button>

        <span data-autocomplete-target="output" id="test" hidden>
            <label>test</label>
            <input type="text" class="test">
  </span>
    </div>
    <a href="{{ path('app_simple_index') }}">back to list</a>

{% endblock %}
